*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration:none ;
}
img{
    vertical-align: middle;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
.container                                                                                                                                                        
{                             
    width: 1320px;
    margin: 0 auto;
    
}

/* declaring something in the root = using that info in anywhere needed and makes the change easier */

:root{
    --fontStyle: 'Open Sans', sans-serif;
    --bgcolor: #000000;
}

/* ==================================
        Banner part CSS start
===================================== */

/* setting up the banner image */

#banner_part{
    padding: 28px 0;
    height: 700px;
    background: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

/* flex separates the logo and menu item */

#banner_part .menu_parent{
    display: flex;
    justify-content: space-between;
}

/* flex speratres each item and column gap gives a gap of 60px */

#banner_part .menu_parent .menu_item ul{
    display: flex;
    column-gap: 60px;
}

/* menu item css */

#banner_part .menu_parent .menu_item ul li a{
    color: #ffffff;
    transition: all linear 0.2s; 
    font-family: var(--fontStyle);
    text-transform: capitalize;
    font-weight: 600;          
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
    
}

/* menu item hovering after 0.2s*/

#banner_part .menu_parent .menu_item ul li a:hover{
    color: #000000;
}

#banner_part .banner_text{
    margin-top: 250px;
}

#banner_part .banner_text p{
    color: #FFC178;
    font-family: var(--fontStyle);
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7px;
    text-transform: uppercase;
    margin-bottom: 27px;
}

/* use display:block to separtate the span section from whole text or can use the <br> tag*/

#banner_part .banner_text h1 span{
    display: block;
    color: #FFF;
    font-family: var(--fontStyle);
    font-size: 96px;
    font-weight: 700;
    line-height: 100px; /* 104.167% */
    text-transform: capitalize;
    }


#banner_part .banner_text h1{
        color: #FFF;
        font-family: var(--fontStyle);
        font-size: 88px;
        font-weight: 400;
        line-height: 100px;
        text-transform: capitalize;
    }
    
/* ==================================
        Banner part CSS Ends
===================================== */



/* ==================================
        About part CSS start
===================================== */

#about_part{
    background-color: #000000;
    padding: 286px;
    
}

.holiday_parent{
    display: flex;
    column-gap: 23px;
}

#about_part .holiday_parent .holiday_text .holiday_text1 {
    color: #FBD784;;
    font-family: var(--fontStyle);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-top: 45px;

}


#about_part .holiday_parent .holiday_text2 {
    color: #FFF;
    font-family: var(--fontStyle);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 13px;
}
#about_part .holiday_parent .holiday_text .holiday_text3 {
    color: #FFF;
    font-family: var(--fontStyle);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 228.571% */
    text-transform: uppercase;
    margin-top: 13px;
    text-align: justify;
    

}

.holiday_parent .holiday_text .read_more_btn{
    color: #FBD784;
    font-family: var(--fontStyle);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 66px;
}


/* ==================================
        About part CSS Ends
===================================== */




/* ==================================
        BroMo part CSS Starts
===================================== */

#bromo_part{
    padding: 100px 0;
    background-color: #000000;
    position: relative;

}

/* parent div will be position relative */

#bromo_part .bromo_body{
    background: url(../images/bromo.jpg);
    height: 900px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* child div will be position absolute */

#bromo_part .bromo_body .bromo_text{
        position: absolute;
        text-align: center;
        bottom: 10%;
        left: 15%;
        
}
#bromo_part .bromo_body .bromo_text .text1{
    color: #FBD784;
    font-family: var(--fontStyle);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

#bromo_part .bromo_body .bromo_text .text2{
    color: #FFF;
    text-align: center;
    font-family: var(--fontStyle);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 13px;
    }

#bromo_part .bromo_body .bromo_text .text3{
    color: #FFF;
    text-align: center;
    font-family: var(--fontStyle);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 213.333% */
    text-transform: uppercase;
    margin-top: 13px;
    
    }

    #bromo_part .bromo_body .bromo_text a{
    color: #FBD784;
    font-family: var(--fontStyle);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 26px;
    display: inline-block;
    }

/* ==================================
        Bromo part CSS Ends
===================================== */


/* ==================================
        culture part CSS Starts
===================================== */

#culture_part{
    background-color: #000;
    padding: 286px;
    
}

#culture_part .culture_part_main{
    display: flex;
    padding: 47x;
}
/* margin top used in text 1 because this difference is among the two main divs  */

#culture_part .culture_part_main .first_text{
    color: #FBD784;
    font-family: var(--fontStyle);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-bottom: 19px;
    margin-top: 153px;
}

#culture_part .culture_part_main .second_text {
    color: #FFF;
    font-family: var(--fontStyle);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 19px;
}

#culture_part .culture_part_main .third_text{
    color: #FFF;
    font-family: var(--fontStyle);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    text-transform: uppercase;
    margin-bottom: 47px;
    }

#culture_part .culture_part_main a{
    color: #FBD784;
    font-family: var(--fontStyle);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    display: inline-block;
}


/* ==================================
        culture part CSS Ends
===================================== */




/* ==================================
        Footer part CSS Starts
===================================== */


#footer_part{
    padding-top: 50px;
    padding-bottom: 300px;
    background-color: #000000;
    
}

/* first Div starts */

#footer_part .footer_first_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer_part .footer_first_main .footer_right_text{
    display: flex;
    column-gap: 20px;
    
}


#footer_part .footer_first_main .footer_right_text .ready_text{
    color: #FFF;
    font-family: var(--fontStyle);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.3px;
    text-transform: capitalize;
}

#footer_part .footer_first_main .footer_right_text .button{
    color: #000;
    font-family: var(--fontStyle);
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 8px;
    background: #FFA343;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
   padding: 22px 80px;
    flex-shrink: 0;
    text-align: center;
}


#footer_part .footer_first_main .footer_right_text .button:hover{
    background: #df7300;
    color: #FFF;
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
}

/* first Div ends */


/* Second Div starts */

#footer_part .footer_second_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 82px;
}

#footer_part .footer_second_main .footer_left_text h3{
    color: #FFF;
    font-family: var(--fontStyle);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.3px;
    text-transform: capitalize;

}

#footer_part .footer_second_main .footer_left_text p{
    color: #FFF;
    font-family: var(--fontStyle);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.205px;
    text-transform: capitalize;
    padding-top: 49px;

}

#footer_part .footer_second_main .footer_left_text .social_icon a i{
    color: #ffffff;
    margin-top: 34px ;
    margin-right: 30px;
    
}

#footer_part .footer_second_main .footer_right_menu{
    display: flex;
    align-items: center;
    column-gap: 140px;
    
}

#footer_part .footer_second_main .footer_right_menu .footer_menu_one h3{
    color: #FFD1A0;
    font-family: var(--fontStyle);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.232px;
    text-transform: capitalize;
    padding-bottom: 30px;
}

#footer_part .footer_second_main .footer_right_menu .footer_menu_one ul li{
    padding-bottom: 10px;
}

#footer_part .footer_second_main .footer_right_menu .footer_menu_one ul li a{
    color: #FFF;
    font-family: Open Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.205px;
    text-transform: capitalize;

}


#footer_part .footer_second_main .footer_right_menu .footer_menu_two h3{
    color: #FFD1A0;
    font-family: var(--fontStyle);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.232px;
    text-transform: capitalize;
    padding-bottom: 30px;
}

#footer_part .footer_second_main .footer_right_menu .footer_menu_two ul li{
    padding-bottom: 10px;
}

#footer_part .footer_second_main .footer_right_menu .footer_menu_two ul li a{
    color: #FFF;
    font-family: Open Sans;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.205px;
    text-transform: capitalize;

}

#footer_part .footer_second_main .footer_right_menu .footer_menu_three h3{
    color: #FFD1A0;
    font-family: var(--fontStyle);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.232px;
    text-transform: capitalize;
    padding-bottom: 30px;
}

#footer_part .footer_second_main .footer_right_menu .footer_menu_three ul li{
    padding-bottom: 10px;
}

#footer_part .footer_second_main .footer_right_menu .footer_menu_three ul li a{
    color: #FFF;
    font-family: var(--fontStyle);
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.205px;
    text-transform: capitalize;

}

#footer_part .footer_second_main .footer_right_menu .footer_menu_three:last-child{
   align-self: start;
}

/* Second Div ends */



/* Last Div starts */


#footer_part .last_main .copyright{
    text-align: center;
}

#footer_part .last_main .copyright p{
    color: #FFF;
    text-align: center;
    font-family: var(--fontStyle);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 177.778% */
    margin-top: 200px;
}

/* last Div ends */


/* ==================================
        Footer part CSS Ends
===================================== */